name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      
      - name: Install Foundry for zkSync
        run: |
          curl -L https://raw.githubusercontent.com/matter-labs/foundry-zksync/main/foundryup-zksync/install -o install
          curl -L https://raw.githubusercontent.com/matter-labs/foundry-zksync/main/foundryup-zksync/foundryup-zksync -o foundryup-zksync
          chmod +x install foundryup-zksync
          ./install
          ./foundryup-zksync
          export PATH="${HOME}/.foundry/bin:$PATH"
          echo "${HOME}/.foundry/bin" >> $GITHUB_PATH
        

      - name: Show Forge version
        run: |
          forge --version

      - name: Run Forge fmt
        run: |
          forge fmt --check
        id: fmt

      - name: Build Project
        run: forge build --zksync --system-mode=true --via-ir

      - name: Run Tests
        run: forge test --zksync --system-mode=true --via-ir
